---
// Import all section components
import Preloader from './Preloader.astro';
import Header from './Header.astro';
import Hero from './Hero.astro';
import About from './About.astro';
import Works from './Works.astro';
import Contact from './Contact.astro';
import Footer from './Footer.astro';
---

<div class="page">
  <Preloader />
  <Header />
  <div class="container">
    <Hero />
    <About />
    <Works />
    <Contact />
  </div>
  <Footer />
</div>

<script is:inline src="/js/jquery.min.js"></script>
<script is:inline src="/js/jquery.validate.js"></script>
<script is:inline src="/js/masonry.pkgd.js"></script>
<script is:inline src="/js/imagesloaded.pkgd.js"></script>
<script is:inline src="/js/masonry-filter.js"></script>
<script is:inline src="/js/magnific-popup.js"></script>
<script is:inline src="/js/jquery.mb.YTPlayer.js"></script>
<script is:inline src="/js/particles.js"></script>
<script is:inline src="/js/typed.js"></script>

<script is:inline src="/js/main.js"></script>
<script is:inline src="/js/particles-setting.js"></script>