---
// Footer - CSS imported in layout

const currentYear = new Date().getFullYear();
---

<footer class="align-center">
  <div class="socials">
    <a target="blank" href="https://github.com/NikosTsigkros"
      ><i class="icon ion ion-social-github"></i
    ></a>
    <a
      target="blank"
      href="https://www.linkedin.com/in/nikolaostsigkros/"
      ><i class="icon ion ion-social-linkedin"></i
    ></a>
    <a target="blank" href="https://codepen.io/TsigkrosNikos"
      ><i class="icon ion ion-social-codepen"></i
    ></a>
    <a
      target="blank"
      href="https://www.instagram.com/NikosNikos_the_greek/"
      ><i class="icon ion ion-social-instagram"></i
    ></a>
  </div>
  <div class="copy">© {currentYear} tsigros.gr. All rights reserved.</div>
</footer>