---
// Header component - CSS imported in layout
---

<header class="header">
  <div class="fw">
    <div class="logo" style="display: flex">
      <a href="#">
        <img
          src="images/favicons/favicon-no-bg.svg"
          height="100"
          alt="Nikos Tsigros - Web Developer Logo"
        />
      </a>
    </div>
    <a href="#" class="menu-btn"><span></span></a>
    <div class="top-menu">
      <ul>
        <li><a href="#about-section">About</a></li>
        <li><a href="#works-section">Works</a></li>
        <li><a href="#contact-section">Contact</a></li>
      </ul>
      <a href="#" class="close"></a>
    </div>
  </div>
</header>