---
// Hero section - CSS imported in layout
---

<div class="section started">
  <div
    id="particles-bg"
    class="slide"
    style="background-image: url(images/bg6.jpg)"
  ></div>
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="st-title align-center">
        <div>
          <img
            src="images/favicons/favicon-no-bg.svg"
            height="150"
            alt="Nikos Tsigros - Web Developer"
          />
        </div>
        <div class="typing-title">
          <p>Developer</p>
          <p>Problem Solver</p>
          <p>Frontend Mentor</p>
        </div>
        <span class="typed-title"></span>
      </div>
      <div class="socials">
        <a target="blank" href="https://www.facebook.com"
          ><i class="icon ion ion-social-facebook"></i
        ></a>
        <a target="blank" href="https://github.com"
          ><i class="icon ion ion-social-github"></i
        ></a>
        <a target="blank" href="https://twitter.com"
          ><i class="icon ion ion-social-twitter"></i
        ></a>
        <a target="blank" href="https://www.youtube.com"
          ><i class="icon ion ion-social-youtube"></i
        ></a>
        <a target="blank" href="https://plus.google.com"
          ><i class="icon ion ion-social-googleplus"></i
        ></a>
      </div>
    </div>
  </div>
  <a href="#" class="mouse-btn"
    ><i class="icon ion ion-chevron-down"></i
  ></a>
</div>