<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
    <title>Nikos Tsigros - Web Developer Portfolio | React & Next.js Expert | Web Development</title>
    <meta name="description" content="I am a Senior Frontend Engineer with 7+ years of experience building modern web applications using React, Next.js, and TypeScript. I have collaborated with major European institutions such as the European Patent Office (EPO) and the European Union Intellectual Property Office (EUIPO), as well as U.S.-based teams on Metaverse and high-scale platform projects. In addition, I have worked with notable Greek SaaS companies, contributing to the architecture and implementation of scalable systems, high-performance user interfaces, and robust engineering workflows. My focus is on clean, maintainable code, design-system consistency, server-side rendering best practices, and effective collaboration within cross-functional teams." />
    <meta name="keywords" content="Nikos Tsigros, Web Developer, Web Developer, Frontend Developer, React Developer, Next.js Developer, Websites Development, React, Next.js, Modern Frontend Architecture, Scalable Solutions, Clean UI/UX, Accessibility, Best Development Practices, Frontend Mentor, WordPress, Node.js, MongoDB, Material UI, Styled Components, NextAuth, Web Development Greece, Portfolio" />
    <meta name="author" content="Nikos Tsigros" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="7 days" />
    
    <link rel="canonical" href="https://tsigros.gr/" />
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nikos Tsigros - Web Developer Portfolio | React & Next.js Expert" />
    <meta property="og:description" content="Web Developer with 7+ years of experience in React, Next.js, and modern frontend architecture. Specializing in scalable web applications, clean UI/UX, and best development practices." />
    <meta property="og:url" content="https://tsigros.gr/" />
    <meta property="og:site_name" content="Nikos Tsigros - Web Developer" />
    <meta property="og:image" content="https://tsigros.gr/images/works/small/id.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Nikos Tsigros - Web Developer Portfolio" />
    <meta property="og:locale" content="en_US" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Nikos Tsigros - Web Developer Portfolio | React & Next.js Expert" />
    <meta name="twitter:description" content="Web Developer with 7+ years of experience in React, Next.js, and modern frontend architecture. Specializing in scalable web applications." />
    <meta name="twitter:image" content="https://tsigros.gr/images/works/small/id.jpg" />
    <meta name="twitter:image:alt" content="Nikos Tsigros - Web Developer Portfolio" />
    
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="css/basic.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/blogs.css" />
    <link rel="stylesheet" href="css/ionicons.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/animate.css" /> -->

    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="images/favicons/favicon-with-bg.svg" />
    <link rel="apple-touch-icon" href="images/favicons/favicon-with-bg.svg" />
  </head>

    <body>
        <slot />
    </body>
</html>
